armaveblaucher.playit.plus {
	header {
		Strict-Transport-Security "max-age=31536000"
		-Server
	}

	@downloadPage path /updates /updates/
	handle @downloadPage {
		redir * /#download 302
	}

	handle_path /updates/* {
		redir https://github.com/Redwolf29195/arma-reforger-launcher-updates/releases/latest/download{uri} 302
	}

	handle {
		encode zstd gzip
		reverse_proxy 127.0.0.1:4173
	}
}
